@model MainHomeModel
@{
    ViewData["Title"] = "Principal";
}
<html>
<head>
    <style>
        .thicker-divider {
            height: 3px; /* ajusta esta altura según lo grueso que desees el divisor */
            margin: 0.5rem 0; /* ajusta el espacio vertical según sea necesario */
            background-color: #000; /* puedes cambiar el color del divisor si lo deseas */
        }
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/adminlte/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/adminlte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/adminlte/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/adminlte/plugins/summernote/summernote-bs4.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Preloader -->
    <div id="preloader" class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/adminlte/dist/img/JoseoIcon.png" alt="AdminLTELogo" height="60" width="60">
    </div>

<!-- Search -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5 class="m-0 justify-content-center">Tu Joseo - ¡El trabajo viene a ti!</h5>
                </div><!-- /.col -->

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"></li>
                            <!-- Notifications Dropdown Menu -->
                            <li class="nav-item dropdown ml-auto">
                                <!-- Añade la clase ml-auto para alinear a la derecha -->
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                    <i class="far fa-bell"></i>
                                    <span class="badge badge-warning navbar-badge">@Model.Notifications.Count</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <span class="dropdown-header">@Model.Notifications.Count Notificationes</span>
                                    <div class="dropdown-divider"></div>
                                    @* <a href="#" class="dropdown-item">
                                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                                        <span class="float-right text-muted text-sm">3 mins</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">
                                        <i class="fas fa-users mr-2"></i> 8 friend requests
                                        <span class="float-right text-muted text-sm">12 hours</span>
                                    </a>
                                    <div class="dropdown-divider"></div> *@
                                    @if (Model.Notifications.Count > 0 && Model.Notifications != null)
                                    {
                                        @foreach (var notification in Model.Notifications)
                                        {
                                            <div class="dropdown-divider thicker-divider"></div>
                                            @switch (notification.NotificationType)
                                            {
                                                case NotificationType.Review:
                                                    <a href="#" class="dropdown-item">
                                                        <i class="fas fa-file mr-2"></i> @(notification.NotificationTitle)
                                                        <br />

                                                        <span class="text-muted text-sm">
                                                            @(notification.NotificationBody.Length > 38 ? notification.NotificationBody.Substring(0, 38) : notification.NotificationBody)...
                                                            <br />
                                                            <b>¿Dar review?</b>
                                                            <br />

                                                            <a class="btn btn-primary" onclick="mostrarAlerta('@notification.ReferenceID')">
                                                                👍
                                                            </a>
                                                            <a class="btn btn-danger" onclick="mostrarAlerta('@notification.ReferenceID')">
                                                                👎
                                                            </a>
                                                        </span>

                                                    </a>
                                                    break;
                                            }

                                        }
                                    }
                                    else
                                    {
                                        <i class="fas fa-file mr-2"></i> <b>SIN NOTIFICACIONES.</b>
                                    }
                                    <a href="#" class="dropdown-item dropdown-footer">Ver todas las notificaciones</a>
                                </div>
                            </li>

                    </ol>
                </div>
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@Model.USER.UserJoseosRealized</h3>

                <p>Joseos realizados</p>
              </div>
              <div class="icon">
                <i class="ion fa-amazon-pay"></i>
              </div>
              <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@Model.USER.UserJobQuality<sup style="font-size: 20px">%</sup></h3>

                <p>Calidad de trabajo</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                  <h3>@Model.USER.UserSimpaty</h3>

                <p>Simpatía</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>@Model.USER.UserStalkers</h3>

                <p>Stalkers</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
                            <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            
            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary">
              <div class="card-header">
                <h3>@TuJoseo.Controllers.ChatController.Rooms.GetValueOrDefault(Model.Room)</h3>

                <div class="card-tools">
                  <span title="3 New Messages" class="badge badge-primary">3</span>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="~/adminlte/dist/img/user1-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                      ¿Cómo va el proyecto?
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->

                  <!-- Message to the right -->
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="~/adminlte/dist/img/user3-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                      Va muy bien, vamos muy avanzados, ya se ha hecho la integración con la API.
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->

                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-left">Alexander Pierce</span>
                      <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="~/adminlte/dist/img/user1-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                      ¡Perfecto! Me dejas saber cualquier cosa, porque tengo una vaina que hacer luego de la inclusión con la API.
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->

                  <!-- Message to the right -->
                  <div class="direct-chat-msg right">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-name float-right">Sarah Bullock</span>
                      <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="~/adminlte/dist/img/user3-128x128.jpg" alt="message user image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        Nítido, líder, le dejo saber... ¡Suerte en la reunión de hoy!
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->

                </div>
                <!--/.direct-chat-messages-->

                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user1-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">Klk, manito podrías ayud...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user7-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Sarah Doe
                            <small class="contacts-list-date float-right">2/23/2015</small>
                          </span>
                          <span class="contacts-list-msg">No tengo de esos, pero podr...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user3-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Nadia Jolie
                            <small class="contacts-list-date float-right">2/20/2015</small>
                          </span>
                          <span class="contacts-list-msg">Tengo un trabajo para ti, cre...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user5-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Nora S. Vans
                            <small class="contacts-list-date float-right">2/10/2015</small>
                          </span>
                          <span class="contacts-list-msg">¿Eres John Doe? creo qu...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user6-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            John K.
                            <small class="contacts-list-date float-right">1/27/2015</small>
                          </span>
                          <span class="contacts-list-msg">Hola.</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="~/adminlte/dist/img/user8-128x128.jpg" alt="User Avatar">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Kenneth M.
                            <small class="contacts-list-date float-right">1/4/2015</small>
                          </span>
                          <span class="contacts-list-msg">Trato hecho, entonces...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                  </ul>
                  <!-- /.contacts-list -->
                </div>
                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Escribe un mensaje..." class="form-control">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-primary">Enviar</button>
                    </span>
                  </div>
              </div>
              <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->

            <!-- /Carousel -->
            <div>
               <div class="card">
                  <div class="card-header">
                      <h4 class="text-center">
                        <i class="fas fa-dollar-sign text-success fa-lg"></i>
                            <i class="fas fa-fire text-warning fa-lg"></i>
                                ¡Tendencias y cursos recomendados!
                            <i class="fas fa-fire text-warning fa-lg"></i>
                        <i class="fas fa-dollar-sign text-success fa-lg"></i>
                      </h4>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner text-center">
                              <div class="carousel-item active">
                                  <iframe width="900" height="493" src="https://www.youtube.com/embed/tfitBsDTsR4?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen></iframe>
                              </div>
                              <div class="carousel-item">
                                  <iframe width="900" height="493" src="https://www.youtube.com/embed/8CJiuTQcAjA?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen></iframe>
                              </div>
                              <div class="carousel-item">
                                  <iframe width="900" height="493" src="https://www.youtube.com/embed/ZflQ6rXWPAI?controls=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" class="border-0" allowfullscreen></iframe>
                              </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-custom-icon" aria-hidden="true">
                                  <i class="fas fa-chevron-left"></i>
                              </span>
                              <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-custom-icon" aria-hidden="true">
                                  <i class="fas fa-chevron-right"></i>
                              </span>
                              <span class="sr-only">Next</span>
                          </a>
                      </div>
                  </div>
               <!-- /.card-body -->
               </div>
            </div>
            <!-- /.Carousel -->
          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-5 connectedSortable">
            <!-- TO DO List -->
            <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="ion ion-clipboard mr-1"></i>
                                    Anotaciones y pendientes
                                </h3>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <ul class="todo-list" data-widget="todo-list">
                                    @if (Model.NOTES != null && Model.NOTES.NoteList.Count > 0)
                                    {
                                        @foreach (var note in Model.NOTES.NoteList)
                                        {
                                            <li>
                                                <!-- checkbox -->
                                                <div class="icheck-primary d-inline ml-2">
                                                    <input type="checkbox" asp-for="@note.NoteDone" name=" todo1" id="@note.NoteID">
                                                    <label for="@note.NoteID"></label>
                                                </div>
                                                <!-- todo text -->
                                                <span class="text">@note.NoteDescription</span>
                                                <!-- Emphasis label -->
                                                <small class="badge badge-dark">
                                                    <i class="far fa-clock"></i>

                                                    @{
                                                        var tiempoTranscurrido = DateTime.Now - note.NoteTime;
                                                        var tiempoTranscurridoStr = "";

                                                        if (tiempoTranscurrido.TotalMinutes < 1)
                                                        {
                                                            tiempoTranscurridoStr = "Justo Ahora";
                                                        }
                                                        else if (tiempoTranscurrido.TotalHours < 1)
                                                        {
                                                            // Mostrar minutos si han pasado menos de 1 hora
                                                            var minutos = (int)tiempoTranscurrido.TotalMinutes;
                                                            tiempoTranscurridoStr = $"{minutos} {(minutos == 1 ? "minuto" : "minutos")}";
                                                        }
                                                        else if (tiempoTranscurrido.TotalDays < 1)
                                                        {
                                                            // Mostrar horas si han pasado menos de 1 día
                                                            var horas = (int)tiempoTranscurrido.TotalHours;
                                                            tiempoTranscurridoStr = $"{horas} {(horas == 1 ? "hora" : "horas")}";
                                                        }
                                                        else
                                                        {
                                                            // Mostrar días si ha pasado 1 día o más
                                                            var dias = (int)tiempoTranscurrido.TotalDays;
                                                            tiempoTranscurridoStr = $"{dias} {(dias == 1 ? "día" : "días")}";
                                                        }
                                                    }
                                                    @tiempoTranscurridoStr
                                                </small>

                                                <!-- General tools such as edit or delete-->
                                                <div class="tools">
                                                    @* <i class="fas fa-edit" id="@note.NoteID"></i>
                                                    @* <a href="@Url.Action("DeleteNote", "Home")" class="fas fa-trash"></a> *@

                                                    <form method="post" action="@Url.Action("DeleteNote", "Home")">
                                                        <input type="hidden" name="noteID" value="@note.NoteID" />
                                                        <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar esta nota?')"><iconify-icon icon="bi:trash3-fill"></iconify-icon></button>
                                                    </form>
                                                </div>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <!-- checkbox -->
                                            <div class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" name=" todo1" id="" checked>
                                                <label for=""></label>
                                            </div>
                                            <!-- todo text -->
                                            <span class="text">Agregar una nueva nota</span>
                                            <!-- Emphasis label -->
                                            <small class="badge badge-primary">
                                                <i class="far fa-clock"></i>
                                                Creado ahora
                                            </small>

                                            <!-- General tools such as edit or delete-->
                                            <div class="tools">
                                                <input type="hidden" name="noteID" value="" />
                                                <button type="submit" class="btn btn-danger"><iconify-icon icon="bi:trash3-fill"></iconify-icon></button>
                                            </div>
                                        </li>

                                        <li>
                                            <!-- checkbox -->
                                            <div class="icheck-primary d-inline ml-2">
                                                <input type="checkbox" name=" todo1" id="">
                                                <label for=""></label>
                                            </div>
                                            <!-- todo text -->
                                            <span class="text">Buscar un joseo</span>
                                            <!-- Emphasis label -->
                                            <small class="badge badge-warning">
                                                <i class="far fa-clock"></i>
                                                Hace 5 minutos
                                            </small>

                                            <!-- General tools such as edit or delete-->
                                            <div class="tools">
                                                <input type="hidden" name="noteID" value="" />
                                                <button type="submit" class="btn btn-danger"><iconify-icon icon="bi:trash3-fill"></iconify-icon></button>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <form action="@Url.Action("AddNote", "Home")" method="post">
                                    <div class="input-group">
                                        <input type="text" name="noteDescription" placeholder="Escribe una nota..." class="form-control">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-success">Agregar nota</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>

            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-warning">
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">Juana Emilia Rocha</h3>
                    <h5 class="widget-user-desc">Diseñadora gráfica</h5>
                </div>
                <div class="card-footer p-0">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Projectos <span class="float-right badge bg-primary">31</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Tareas asignadas (asignaciones y pendientes) <span class="float-right badge bg-info">7</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Projectos completados <span class="float-right badge bg-success">12</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Seguidores <span class="float-right badge bg-danger">842</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->

            <div class="info-box bg-gradient-success">
                <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Relevancia [Simpatía] de esta persona en la comunidad</span>
                    <span class="info-box-number">41,410</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 70%"></div>
                    </div>
                    <span class="progress-description">
                        Esta persona ha incrementado su simpatía en un 70%
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </section>
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <div class="content">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h1 class="m-0">Trabajos especialmente para ti</h1>
            </div>
                
            <div class="card-body">
                <div class="tab-pane fade show active" id="custom-tabs-five-overlay" role="tabpanel" aria-labelledby="custom-tabs-five-overlay-tab">
                    <div class="overlay-wrapper">
                            @if (Model.JOSEOS != null)
                            {
                                <h5 class="m-0">Se han encontrado @(Model.JOSEOS.Count) joseos en los que puedes trabajar.</h5>
                            }
                            else
                            {
                                <h5 class="m-0">No se han encontrado joseos.</h5>
                            }
                            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Analizando y buscando...</div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div>
                <div>
                    <div class="card">
                            @if (Model.JOSEOS != null && Model.JOSEOS.Count > 0)
                            {
                                @foreach (var joseo in Model.JOSEOS)
                                {
                                    <div class="card card-primary card-outline mx-4 my-3">
                                        <h3 class="mx-2">@joseo.JoseoTitle</h3>
                                        <p class="card-text mx-2">
                                            @joseo.JoseoDescription
                                        </p>
                                        <div class="text-center mx-2 my-3">
                                            <a class="btn btn-app btn-lg mx-2">
                                                <i class="fas fa-heart text-danger fa-lg"></i> ESTOY INTERESADO
                                            </a>

                                            <a class="btn btn-app btn-lg mx-2">
                                                <i class="fas fa-dollar-sign text-success fa-lg"></i> @(joseo.JoseoPrice)$ Dop
                                            </a>

                                            <form method="post" action="@Url.Action("SeeJoseo", "Joseos")" class="mt-2">
                                                <button type="submit" class="btn btn-outline-dark mx-2">
                                                    <iconify-icon icon="tabler:list-details" width="25" height="25" class="fa-lg"></iconify-icon>
                                                    <br />
                                                    Detalles del joseo
                                                </button>
                                                <input type="hidden" name="joseoID" value="@joseo.JoseoID" />
                                            </form>
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="card card-primary card-outline">
                                        <h3 class="m-2">¡AQUÍ NO HAY NADA!</h3>
                                        <p class="card-text">
                                            No se ha encontrado joseos por el momento, te mantendremos informado.
                                        </p>
                                        <div class="text-center">
                                            <a class="btn btn-app btn-lg btn-warning">
                                            <iconify-icon icon="tabler:file-sad" width="35" height="35"></iconify-icon>
                                            </a>
                                        </div> 
                                </div>
                            }
                        </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</body>

<!-- /.login-box -->
@if (TempData["Error"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '@TempData["Error"]',
                confirmButtonText: 'OK'
            });
        });
    </script>
}
@if (TempData["Success"] != null)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: 'success',
                title: 'Chevere',
                text: '@TempData["Success"]',
                confirmButtonText: 'OK'
            });
        });
    </script>
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<script>
    @* function mostrarAlerta(userId) {
        Swal.fire({
            title: '¡Califica a este usuario!',
            html:
                '<div>' +
                '   <input type="radio" name="stars" value="1"> 🤬 ' +
                '   <input type="radio" name="stars" value="2"> 🙁 ' +
                '   <input type="radio" name="stars" value="3"> 😐 ' +
                '   <input type="radio" name="stars" value="4"> 🙂 ' +
                '   <input type="radio" name="stars" value="5"> ✔ ' +
                '   <input type="radio" name="stars" value="6"> ✨ ' +
                '</div>' +
                '<input hidden type="text" id="nombreProyecto" class="swal2-input" placeholder="Nombre del Proyecto">' +
                '<input type="text" id="descripcionReview" class="swal2-input" placeholder="¡Cuéntanos la experiencia!">' +
                '<input hidden type="text" id="personaReview" class="swal2-input" placeholder="Persona a la que le das la Review" value="' + userId + '">' +
                '<input hidden type="text" id="personaCritica" class="swal2-input" placeholder="Persona que está criticando" value="@TempData["UserID"]">',
            showCancelButton: true,
            confirmButtonText: 'Enviar Reseña',
            cancelButtonText: 'Cancelar',
            preConfirm: () => {
                // Obtén el valor del radio seleccionado
                const stars = document.querySelector('input[name="stars"]:checked');

                if (!stars) {
                    // Si no se seleccionó ninguna estrella, puedes manejarlo aquí
                    Swal.fire('Error', 'Por favor, selecciona una calificación.', 'error');
                    return false; // Detener el proceso
                }

                const starsValue = stars.value;

                // Resto del código
                const nombreProyecto = document.getElementById('nombreProyecto').value;
                const descripcionReview = document.getElementById('descripcionReview').value;
                const personaReview = document.getElementById('personaReview').value;
                const personaCritica = document.getElementById('personaCritica').value;

                // Validar si personaReview y personaCritica son las mismas
                if (personaReview.toString() === personaCritica) {
                    Swal.fire('Error', '¡Debes seleccionar a alguien más que no seas tú!', 'error');
                    return false;
                }

                // Validar si no está en blanco.
                if (descripcionReview.toString() === "") {
                    Swal.fire('Error', '¡Dame algo para reseñar!, no puede estar en blanco.', 'error');
                    return false;
                }

                // Resto del código para enviar la reseña
                enviarResena(starsValue, nombreProyecto, descripcionReview, personaReview, personaCritica);
            }
        });
    }

    function enviarResena(stars, nombreProyecto, descripcionReview, personaReview, personaCritica) {
        const data = {
            reviewStars: stars,
            reviewProyectName: nombreProyecto,
            reviewDescription: descripcionReview,
            reviewPersonID: personaReview,
            reviewCriticadorID: personaCritica,
            reviewDate: obtenerFechaHoyServidor()
        };

        $.ajax({
            url: '/joseos/EnviarResena',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                // Imprime la respuesta del servidor en la consola
                console.log('Respuesta del servidor:', response);

                if (response.success) {
                    // Si la reseña se envió correctamente, muestra el mensaje de éxito
                    Swal.fire('¡Reseña enviada!', 'Gracias por tu reseña.', 'success');
                } else {
                    // Si hubo un error, muestra el mensaje de error
                    Swal.fire('Error', response.message, 'error');
                }
            },
            error: function (error) {
                // Imprime el error en la consola
                console.error('Error al enviar la reseña:', error);

                // Muestra un mensaje de error genérico al usuario
                Swal.fire('Error', 'Hubo un problema al enviar la reseña.', 'error');
            }
        });
    }

    function obtenerFechaHoyServidor() {
        const hoy = new Date();
        const dia = hoy.getDate();
        const mes = hoy.getMonth() + 1; // Sumamos 1 porque los meses comienzan desde 0
        const anio = hoy.getFullYear();

        // Formato 'YYYY-MM-DD'
        const fechaFormateada = `${anio}-${mes < 10 ? '0' : ''}${mes}-${dia < 10 ? '0' : ''}${dia}`;

        return fechaFormateada;
    } *@

    // JavaScript para verificar el tamaño de la pantalla y mostrar/ocultar el preloader
    window.onload = function () {
        var preloader = document.getElementById('preloader');

        // Si el ancho de la pantalla es menor que 768px (puedes ajustar este valor según tus necesidades)
        if (window.innerWidth < 768) {
            preloader.style.display = 'none'; // Oculta el preloader en dispositivos móviles
        } else {
            preloader.style.display = 'block'; // Muestra el preloader en PC
        }
    };

    document.getElementById("message").addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
            e.preventDefault(); // Evitar el comportamiento predeterminado (recargar la página)
            // Puedes agregar aquí tu lógica adicional si es necesario
        }
    });

    document.getElementById("note").addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
            e.preventDefault(); // Evitar el comportamiento predeterminado (recargar la página)
            // Puedes agregar aquí tu lógica adicional si es necesario
        }
    });

    document.getElementById("joseoID").addEventListener("keydown", function (e) {
        if (e.key === "Enter") {
            e.preventDefault(); // Evitar el comportamiento predeterminado (recargar la página)
            // Puedes agregar aquí tu lógica adicional si es necesario
        }
    });
</script>
</html>