@using Microsoft.Data.SqlClient
@model ChatModel

<h1>@TuJoseo.Controllers.ChatController.Rooms.GetValueOrDefault(Model.Room)</h1>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #chat-container {
            width: 300px;
            margin: auto;
        }

        .mensaje {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .mi-mensaje {
            text-align: right;
        }

        .otro-mensaje {
            text-align: left;
        }
    </style>

    <title>CHAT</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <!-- New Chat Design -->
                <div class="col-md-20">
                    <div class="card card-danger shadow-lg">
                        <div class="card-header">
                            <h3 class="card-title">Chat</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- DIRECT CHAT DANGER -->
                            <div class="card card-danger direct-chat direct-chat-danger shadow-lg">
                                <div class="card-header">
                                    <div class="card-tools">
                                        <span title="3 New Messages" class="badge" id="messageCount">3</span>
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                                            <i class="fas fa-comments"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <!-- Conversations are loaded here -->
                                    <div class="direct-chat-messages" id="messages">
                                        <!-- Message. Default to the left -->
                                        <!-- Messages will be appended here using JavaScript -->
                                    </div>
                                    <!--/.direct-chat-messages-->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <div class="input-group mx-auto" style="max-width: 500px;">
                                        <span class="input-group-append">
                                            <input type="text" placeholder="Usuario" id="user" hidden value="@Model.MyUserName" />
                                            <input type="text" placeholder="¡Escribe un mensaje 💬!" id="message" autocomplete="off" />
                                            <button class="btn btn-primary" id="btnSend">Enviar</button>
                                        </span>
                                    </div>
                                </div>
                                <!-- /.card-footer-->
                            </div>
                            <!--/.direct-chat -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- Iconify -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SignalR -->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <!-- Your Chat Script -->
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

        document.getElementById("message").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                document.getElementById("btnSend").click();
            }
        });

        connection.start().then(() => {
            connection.invoke("AddToGroup", "@Model")
        }).catch((e) => console.error(e));

        document.getElementById("btnSend").addEventListener("click", (event) => {
            let room = "@Model";
            let user = document.getElementById("user").value;
            let message = document.getElementById("message").value.trim(); 

            if (message !== "") {
                connection.invoke("sendMessage", room, user, message)
                    .catch((err) => console.error(err.toString()));

                document.getElementById("message").value = "";
                document.getElementById("message").focus();
            }

            event.preventDefault();
        });


        connection.on("ReceiveMessage", (user, message) => {
            var messageHtml = `<div class="direct-chat-msg"><div class="direct-chat-infos clearfix"><span class="direct-chat-name float-right"> ${user}</span><span class="direct-chat-timestamp float-left">@DateTime.Now.ToString("dd/MMM/yyyy h:mm t")m</span></div><img class="direct-chat-img" src="../dist/img/USER.jpg" alt="Message User Image"><div class="direct-chat-text">${message}</div></div>`;
            document.getElementById("messages").innerHTML = messageHtml + document.getElementById("messages").innerHTML;
        });

        connection.on("ShowWho", (message) => {
            Swal.fire({
                icon: 'success',
                title: 'En línea',
                html: `<div>${message}</div>`
            });
        });

    </script>
</body>
</html>
