@model CreateJoseoModel

@{
    bool creando = (string.IsNullOrEmpty(Model.JoseoTitle));
    string mode = creando ? "crear" : "editar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crear Joseo</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">General</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (mode == "crear")
                                {
                                    <div class="form-group">
                                        <label for="joseoTitle">Nombre del proyecto</label>
                                        <input type="text" id="joseoTitle" class="form-control" asp-for="JoseoTitle">
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="joseoTitle">Nombre del proyecto</label>
                                        <input type="text" id="joseoTitle" class="form-control" asp-for="JoseoTitle" disabled>
                                    </div>
                                }
                                <div class="form-group">
                                    <label for="joseoDescription">Descripción del proyecto</label>
                                    <textarea id="joseoDescription" class="form-control" rows="4" asp-for="JoseoDescription"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="joseoStatus">Estado</label>
                                    <select id="joseoStatus" class="form-control custom-select" asp-for="JoseoStatus">
                                        <option selected disabled>Seleccione uno</option>
                                        <option>Desde cero</option>
                                        <option>Idea base</option>
                                        <option>En proceso</option>
                                        <option>Buscando ideas</option>
                                        <option>Buscando personal</option>
                                        <option>Casi terminado</option>
                                        <option>Toques finales</option>
                                        <option>Terminado</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputClientCompany">Compañía</label>
                                    <input type="text" id="inputClientCompany" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="joseadorID" hidden>Líder del proyecto</label>
                                    <input type="text" id="joseadorID" class="form-control" hidden value="@TempData["UserID"]">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-md-6">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Presupuesto$ (en DOP)</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="joseoPrice">Presupuesto estimado</label>
                                    <input type="number" id="joseoPrice" class="form-control" asp-for="JoseoPrice">
                                </div>
                                <div class="form-group">
                                    <label for="joseoEstimatedTime">Duración estimada del proyecto (seleccionar fecha final)</label>
                                    <input type="date" id="joseoEstimatedTime" class="form-control" asp-for="JoseoEstimatedTime">
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Términos y condiciones</h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="inputEstimatedBudget">Lea aténtamente</label>
                                    <p>
                                        1. REQUISITOS RELATIVOS AL USUARIO
                                        El Sitio Web y los servicios relacionados con el mismo se ofrecen a los Usuarios que tengan capacidad legal para otorgar contratos legalmente vinculantes según la legislación aplicable.
                                        Los menores no están autorizados para utilizar el Sitio Web. Si usted es menor de edad, por favor, no utilice esta web.
                                    </p>
                                    <label for="inputEstimatedBudget">Al continuar usando esta web acepta explícitamente los términos y condiciones puestos tanto por su empleador cómo la página web, en caso de ser el empleador también acepta los términos de su empleado.</label>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <form id="joseoForm" method="post">
                    <div class="row">
                        <div class="col-12">
                            <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Cancelar</a>
                            @if (mode == "crear")
                            {
                                <input href="@Url.Action("Index", "Home")" id="btnSaveJoseo" value="Crear Nuevo Joseo" class="btn btn-success float-right">
                            }
                            else
                            {
                                <input href="@Url.Action("Index", "Home")" id="btnSaveJoseo" value="Guardar cambios" class="btn btn-warning float-right">
                            }
                        </div>
                    </div>
                </form>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        $("#btnSaveJoseo").click(function () {
            // Verifica el modo actual y ejecuta la función correspondiente
            if ('@mode' === 'crear') {
                saveJoseo();
            } else if ('@mode' === 'editar') {
                saveJoseoEditar();
            }
        });
    });

    function saveJoseo() {
        // Obtener valores de los controles
        var joseoTitle = $('#joseoTitle').val();
        var joseoDescription = $('#joseoDescription').val();
        var joseoStatus = $('#joseoStatus').val();
        var joseoPrice = $('#joseoPrice').val();
        var joseoEstimatedTime = $('#joseoEstimatedTime').val();
        var joseadorID = $('#joseadorID').val();

        // Construir el objeto joseo
        var joseo = {
            joseoTitle: joseoTitle,
            joseoDescription: joseoDescription,
            joseoStatus: joseoStatus,
            joseoPrice: joseoPrice,
            joseoEstimatedTime: joseoEstimatedTime,
            joseadorID: joseadorID
        };

        // Realizar la solicitud AJAX
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateNewJoseo", "Joseos")',
            data: JSON.stringify(joseo),
            contentType: 'application/json',
            success: function (data) {
                // Manejar el éxito de la solicitud según tus necesidades
                console.log(data.message);

                // Redirigir a la página "Index" del controlador "Home"
                window.location.href = '/Joseos/SearchOwnJoseo';
            },
            error: function (error) {
                // Manejar errores si es necesario
                console.error('Error al crear el Joseo:', error.responseJSON.error);
            }
        });
    }

    function saveJoseoEditar() {
        // Obtener valores de los controles
        var joseoId = $('#joseoId').val(); // Asegúrate de tener un campo oculto que almacene el ID del joseo
        var joseoTitle = $('#joseoTitle').val();
        var joseoDescription = $('#joseoDescription').val();
        var joseoStatus = $('#joseoStatus').val();
        var joseoPrice = $('#joseoPrice').val();
        var joseoEstimatedTime = $('#joseoEstimatedTime').val();
        var joseadorID = $('#joseadorID').val();

        // Construir el objeto joseo
        var joseo = {
            joseoId: joseoId,
            joseoTitle: joseoTitle,
            joseoDescription: joseoDescription,
            joseoStatus: joseoStatus,
            joseoPrice: joseoPrice,
            joseoEstimatedTime: joseoEstimatedTime,
            joseadorID: joseadorID
        };

        // Realizar la solicitud AJAX para la edición
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditJoseo", "Joseos")',
            data: JSON.stringify(joseo),
            contentType: 'application/json',
            success: function (data) {
                console.log(data.message);

                // Redirigir a la página "Index" del controlador "Home"
                window.location.href = '/Joseos/SearchOwnJoseo';
            },
            error: function (error) {
                console.error('Error al editar el Joseo:', error.responseJSON.error);
            }
        });
    }

</script>