@model JoseoAndTypesModel

@{
    ViewData["Title"] = "Buscar | Joseadores";
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Joseadores</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
                <!-- Buscar -->
                <section class="content">
                    <div class="container-fluid">
                        <h2 class="text-center display-4">Joseadores</h2>
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <form id="searchForm" action="@Url.Action("Index", "Joseos")" method="get">
                                    <div class="input-group">
                                        <input type="search" name="searchTerm" id="searchTerm" class="form-control form-control-lg" placeholder="¿A quién desea buscar?" autocomplete="off">
                                        <input type="hidden" name="search" id="search" value="">
                                        <div class="input-group-append">
                                            <!-- Dropdown -->
                                            <div class="dropdown btn btn-lg">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Buscar por categoría
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    @{
                                                        foreach (var category in Model.Categories)
                                                        {
                                                            <a class="dropdown-item category-link" data-id="@category.ID">@category.Name</a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <br />

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
                            @if (Model.Users.Count > 0)
                            {
                                @foreach (var user in Model.Users)
                                {
                                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                        <div class="card bg-light d-flex flex-fill">
                                            <div class="card-header text-muted border-bottom-0">
                                                @user.UserRol
                                            </div>
                                            <div class="card-body pt-0">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <h2 class="lead"><b>@user.UserName</b></h2>
                                                        <p class="text-muted text-sm"><b>Acerca: </b>@user.UserHabilities</p>
                                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Dirección: @user.UserLocation</li>
                                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Teléfono #: @user.UserPhone</li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-5 text-center">
                                                        @* <img src="../../dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid"> *@
                                                        <iconify-icon icon="solar:user-bold-duotone" width="128" height="128"></iconify-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="text-right">
                                                    <a href="~/Chat/Index" class="btn btn-sm bg-teal">
                                                        <i class="fas fa-comments"> Chat</i>
                                                    </a>
                                                    <a href="#" class="btn btn-sm btn-primary" onclick="guardarUserID('@user.UserID')">
                                                        <i class="fas fa-user"></i> Perfil
                                                    </a>
                                                    <a href="#" class="btn btn-sm btn-primary" onclick="mostrarAlerta('@user.UserID')">
                                                        <i class="fas fa-user"></i> Reseñar Usuario
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="card card-primary card-outline">
                                    <h3 class="m-2 text-center">¡AQUÍ NO HAY NADIE!</h3>
                                    <p class="card-text text-center">
                                        No se han encontrado personas...
                                    </p>
                                    <div class="text-center">
                                        <a class="btn btn-app btn-lg btn-warning" href="@Url.Action("Index", "Joseos")">
                                            <iconify-icon icon="tabler:file-sad" width="35" height="35"></iconify-icon>
                                        </a>
                                    </div>
                                </div>
                            }
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer" disabled>
          <nav aria-label="Contacts Page Navigation" disabled>
            <ul class="pagination pagination-lg">
          <li class="page-item disabled"><a class="page-link" href="#">Primero</a></li>
          <li class="page-item disabled"><a class="page-link" href="#"><</a></li>
          <li class="page-item active disabled" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#">2</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">3</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">></a></li>
          <li class="page-item disabled"><a class="page-link" href="#">Último</a></li>
        </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
      <p class="m-0">Se han encontrado @(Model.Users.Count) personas.</p>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>

  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- AJAX -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Iconify -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

<script>
    function guardarUserID(userID) {
        // Guardar el UserID en TempData
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GuardarUserID", "Profile")',
            data: { userID: userID },
            success: function (data) {
                // Redirigir a la página de perfil
                window.location.href = '@Url.Action("Index", "Profile")';
            },
            error: function () {
                // Manejar errores si es necesario
            }
        });
    }

    function mostrarAlerta(userId) {
        Swal.fire({
            title: '¡Califica a este usuario!',
            html:
                '<div>' +
                '   <input type="radio" name="stars" value="1"> 🤬 ' +
                '   <input type="radio" name="stars" value="2"> 🙁 ' +
                '   <input type="radio" name="stars" value="3"> 😐 ' +
                '   <input type="radio" name="stars" value="4"> 🙂 ' +
                '   <input type="radio" name="stars" value="5"> ✔ ' +
                '   <input type="radio" name="stars" value="6"> ✨ ' +
                '</div>' +
                '<input hidden type="text" id="nombreProyecto" class="swal2-input" placeholder="Nombre del Proyecto">' +
                '<input type="text" id="descripcionReview" class="swal2-input" placeholder="¡Cuéntanos la experiencia!">' +
                '<input hidden type="text" id="personaReview" class="swal2-input" placeholder="Persona a la que le das la Review" value="' + userId + '">' +
                '<input hidden type="text" id="personaCritica" class="swal2-input" placeholder="Persona que está criticando" value="@TempData["UserID"]">',
            showCancelButton: true,
            confirmButtonText: 'Enviar Reseña',
            cancelButtonText: 'Cancelar',
            preConfirm: () => {
                // Obtén el valor del radio seleccionado
                const stars = document.querySelector('input[name="stars"]:checked');

                if (!stars) {
                    // Si no se seleccionó ninguna estrella, puedes manejarlo aquí
                    Swal.fire('Error', 'Por favor, selecciona una calificación.', 'error');
                    return false; // Detener el proceso
                }

                const starsValue = stars.value;

                // Resto del código
                const nombreProyecto = document.getElementById('nombreProyecto').value;
                const descripcionReview = document.getElementById('descripcionReview').value;
                const personaReview = document.getElementById('personaReview').value;
                const personaCritica = document.getElementById('personaCritica').value;

                // Validar si personaReview y personaCritica son las mismas
                if (personaReview.toString() === personaCritica) {
                    Swal.fire('Error', '¡Debes seleccionar a alguien más que no seas tú!', 'error');
                    return false;
                }

                // Resto del código para enviar la reseña
                enviarResena(starsValue, nombreProyecto, descripcionReview, personaReview, personaCritica);
            }
        });
    }


    function enviarResena(stars, nombreProyecto, descripcionReview, personaReview, personaCritica) {
        const data = {
            reviewStars: stars,
            reviewProyectName: nombreProyecto,
            reviewDescription: descripcionReview,
            reviewPersonID: personaReview,
            reviewCriticadorID: personaCritica,
            reviewDate: obtenerFechaHoyServidor()
        };

        $.ajax({
            url: '/joseos/EnviarResena',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                // Imprime la respuesta del servidor en la consola
                console.log('Respuesta del servidor:', response);

                if (response.success) {
                    // Si la reseña se envió correctamente, muestra el mensaje de éxito
                    Swal.fire('¡Reseña enviada!', 'Gracias por tu reseña.', 'success');
                } else {
                    // Si hubo un error, muestra el mensaje de error
                    Swal.fire('Error', response.message, 'error');
                }
            },
            error: function (error) {
                // Imprime el error en la consola
                console.error('Error al enviar la reseña:', error);

                // Muestra un mensaje de error genérico al usuario
                Swal.fire('Error', 'Hubo un problema al enviar la reseña.', 'error');
            }
        });
    }


    function obtenerFechaHoyServidor() {
        const hoy = new Date();
        const dia = hoy.getDate();
        const mes = hoy.getMonth() + 1; // Sumamos 1 porque los meses comienzan desde 0
        const anio = hoy.getFullYear();

        // Formato 'YYYY-MM-DD'
        const fechaFormateada = `${anio}-${mes < 10 ? '0' : ''}${mes}-${dia < 10 ? '0' : ''}${dia}`;

        return fechaFormateada;
    }


    // Capturar el clic en los elementos de la categoría y actualizar el texto del botón
    $(".category-link").on("click", function () {
        var selectedText = $(this).text();
        $("#dropdownMenuButton").text(selectedText);
    });

    $(document).ready(function () {
        // Capturar el clic en los elementos de la categoría y actualizar el formulario
        $(".category-link").on("click", function (e) {
            e.preventDefault();
            var search = $(this).data("id");
            $("#search").val(search);
            $("#searchForm").submit();
        });

        // Evento para el input de búsqueda cuando se presiona Enter
        $("#searchTerm").on("keydown", function (event) {
            if (event.keyCode == 13) {
                $("#search").val($("#searchTerm").val());
                $("#searchForm").submit();
                return false;
            }
        });
    });
</script>

