@model MainOwnJoseoModel

@{
    ViewData["Title"] = "Ver | Joseos";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joseos</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <section class="content">
                        <div class="col-md-12">
                            <!-- /.card -->
                        <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Mis joseos</h3>
                                </div>

                            <!-- /.Tab 1 -->
                                <div class="card-body">
                                    <!-- Default box -->
                                <div class="card card-solid">
                                        <div class="card-body pb-0">
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div>
                                                        <div>
                                                            <div class="card">
                                                            @foreach (var joseo in Model.MisJoseos)
                                                            {
                                                                <div class="card card-primary card-outline mx-4 my-3">
                                                                    <h3 class="mx-2">@joseo.JoseoTitle</h3>
                                                                    <span class="right badge badge-success">Estado: EN PROCESO</span>
                                                                    <p class="card-text mx-2">
                                                                        <span class="right badge badge-warning">ROL: Trabajador</span> @joseo.JoseoDescription
                                                                    </p>
                                                                    <div class="text-center mx-2 my-3">
                                                                        <a href="@Url.Action("SeeJoseo", "Joseos", new { joseoID = joseo.JoseoID })" class="btn btn-app btn-lg mx-2">
                                                                            <i class="fas fa-dollar-sign text-success fa-lg"></i> @joseo.JoseoPrice $ Dop
                                                                        </a>
                                                                        <form method="post" action="@Url.Action("SeeJoseo", "Joseos")">
                                                                            <button type="submit" class="btn btn-outline-dark mx-2">
                                                                                <iconify-icon icon="tabler:list-details" width="25" height="25" class="fa-lg"></iconify-icon>
                                                                                <br />
                                                                                Ver el joseo
                                                                            </button>
                                                                            <input type="hidden" name="joseoID" value="@joseo.JoseoID" />
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            }

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div><!-- /.container-fluid -->
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                </div>
                                <!-- /.Tab 1 -->
                            </div>
                            <br />
                            <!-- /.card -->
                            <!-- /.card -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Joseos creados</h3>
                                </div>

                                <!-- /.Tab 1 -->
                                <div class="card-body">
                                    <!-- Default box -->
                                    <div class="card card-solid">
                                        <div class="card-body pb-0">
                                            <div class="row">
                                                <div class="container-fluid">
                                                    <div>
                                                        <div>
                                                            <div class="card">
                                                                @foreach (var joseo in Model.JoseosCreados)
                                                                {
                                                                    <div class="card card-primary card-outline mx-4 my-3">
                                                                        <h3 class="mx-2">@joseo.JoseoTitle</h3>
                                                                        <p class="card-text mx-2">
                                                                            @* <span class="right badge badge-primary">ROL: Empleador</span> *@
                                                                            @joseo.JoseoDescription

                                                                            <br />
                                                                            <br />
                                                                            @if (string.IsNullOrEmpty(joseo.JoseadorRealName))
                                                                            {
                                                                                <span class="right badge badge-success">Estado: BUSCANDO JOSEADOR <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></span>
                                                                                <span class="right badge badge-dark">¡Nadie ha aceptado el joseo aún!</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="right badge badge-success">
                                                                                    Estado: EN PROCESO   <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                                                </span>
                                                                                <span class="right badge badge-info">Joseador asignado: @joseo.JoseadorRealName</span>
                                                                            }
                                                                        </p>
                                                                        <div class="text-center mx-2 my-3">
                                                                            <a class="btn btn-app btn-lg mx-2">
                                                                                <i class="fas fa-dollar-sign text-success fa-lg"></i> @joseo.JoseoPrice $ Dop
                                                                            </a>
                                                                            <a class="btn btn-app btn-lg mx-2" href="@Url.Action("CreateJoseo", "Joseos", joseo)">
                                                                                <iconify-icon icon="ph:pencil-duotone" width="20" height="20" style="color: #ffb703;"></iconify-icon><br />Editar
                                                                            </a>

                                                                            @if (!string.IsNullOrEmpty(joseo.JoseadorRealName))
                                                                            {
                                                                                <a class="btn btn-app btn-lg mx-2 btnFinishProject" data-joseo-id="@joseo.JoseoID">
                                                                                    <iconify-icon icon="gis:flag-finish" width="20" height="20"></iconify-icon><br />
                                                                                    Dar por terminado
                                                                                </a>
                                                                            }
                                                                            <form method="post" action="@Url.Action("SeeJoseo", "Joseos")">
                                                                                <button type="submit" class="btn btn-outline-dark mx-2">
                                                                                    <iconify-icon icon="tabler:list-details" width="25" height="25" class="fa-lg"></iconify-icon>
                                                                                    <br />
                                                                                    Ver el joseo
                                                                                </button>
                                                                                <input type="hidden" name="joseoID" value="@joseo.JoseoID" />
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div><!-- /.container-fluid -->
                                            </div>
                                        </div>
                                </div>
                                <!-- /.Tab 1 -->
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </section>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>

        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Iconify -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<script>
    // Función para mostrar el mensaje de confirmación y ejecutar la acción
    function showConfirmation(joseoID) {
        Swal.fire({
            title: '¿Seguro que desea dar por terminado el proyecto?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                finishProject(joseoID);
            }
        });
    }

    document.querySelectorAll(".btnFinishProject").forEach(function (button) {
        button.addEventListener("click", function () {
            var joseoID = this.getAttribute("data-joseo-id");
            showConfirmation(joseoID);
        });
    });

    function finishProject(joseoID) {
        $.ajax({
            type: 'POST',
            url: '/Joseos/FinishProyect',
            data: { joseoID: joseoID },
            success: function (data) {
                console.log('Proyecto terminado con éxito:', data);

                Swal.fire({
                    title: 'Proyecto terminado',
                    text: 'El proyecto ha sido dado por terminado correctamente.',
                    icon: 'success',
                }).then(() => {
                    // Recargar la página después de cerrar el cuadro de diálogo
                    location.reload();
                });
            },
            error: function (error) {
                console.error('Error al dar por terminado el proyecto:', error);
            }
        });
    }
</script>
