@model MainJoseoModel
<!DOCTYPE html>
<html lang="en">

@{
    ViewData["Title"] = "Contrato";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acuerdo de Trabajo</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="m-0" style="text-align: center">Acuerdo de Trabajo - @Model.JOSEO.JoseoTitle</h1>
                    <hr class="line-divider border-bottom border-6">

                    <h2>1. OBJETIVO DEL CONTRATO</h2>
                    <p>
                        El Cliente @Model.JOSEADOR.UserCompleteName y el Programador (usted) acuerdan trabajar juntos en el desarrollo de un software específico con las siguientes características @Model.JOSEO.JoseoDescription. Ambas partes reconocen y aceptan que este contrato establece los términos y condiciones para llevar a cabo el Proyecto.
                    </p>

                    <h2>2. ALCANCE DEL TRABAJO</h2>
                    <p>
                        2.1 El Programador se compromete a realizar las siguientes tareas como parte del Proyecto:
                        @Model.JOSEO.JoseoTitle |  con el precio de: @Model.JOSEO.JoseoPrice $DOP | @Model.JOSEO.JoseoDescription
                    </p>
                    <p>
                        2.2 El Cliente se compromete a proporcionar al Programador todos los recursos necesarios para llevar a cabo el Proyecto, incluyendo assets y contrenido multimedia en un plazo de 3 días.
                        2.3 Si el cliente no proporciona todos los recursos necesarios, el programador tiene el derecho de omitir las partes en las que se requieran dichos recursos.
                    </p>

                    <h2>3. HONORARIOS Y PAGO</h2>
                    <p>
                        3.1 El Cliente acuerda pagar al Programador la cantidad de @Model.JOSEO.JoseoPrice por la realización del Proyecto.
                        3.2 El pago se realizará con el intermediario de esta misma aplicación, la aplicación llevándose el 10% de los honorarios.
                    </p>

                    <h2>4. PROPIEDAD INTELECTUAL</h2>
                    <p>
                        4.1 Todo el código fuente, diseño, documentación y otros activos generados como parte del Proyecto serán propiedad exclusiva del Cliente una vez que se haya completado el pago total.
                        4.2 El Programador retendrá el derecho de utilizar el código y las habilidades adquiridas durante la realización del Proyecto para fines personales y profesionales, a menos que se acuerde lo contrario por escrito.
                    </p>

                    <h2>5. PLAZO Y TERMINACIÓN</h2>
                    <p>
                        5.1 El Proyecto se llevará a cabo en un plazo estimado de [Duración del Proyecto]. Cualquier cambio significativo en el alcance o el calendario requerirá un acuerdo por escrito entre las partes.
                        5.2 En caso de incumplimiento grave por parte de una de las entidades, ambas partes tienen el derecho de dar por terminado este contrato mediante notificación por escrito. En tal caso, los pagos futuros no serán adeudados al programador y los pagos anteriores no serán reembolsados. Se mantendrán las disposiciones sobre propiedad intelectual según lo acordado.
                    </p>

                    <h2>6. CONFIDENCIALIDAD</h2>
                    <p>
                        Ambas partes acuerdan mantener la confidencialidad de cualquier información confidencial compartida durante la realización del Proyecto.
                    </p>

                    <h2>7. MODIFICACIONES</h2>
                    <p>
                        Este contrato solo puede modificarse por escrito y firmado por ambas partes. Se aclara que el programador NO está obligado a llevar a cabo modificaciones esporádicas propuestas por el cliente después de la firma de este contrato. En caso de que el cliente desee realizar modificaciones adicionales, se reajustará el precio del proyecto y se acordarán los términos de estas modificaciones por escrito y mediante acuerdo mutuo.
                    </p>

                    <div style="text-align: center;">
                        <hr>
                        <p>Firma del Cliente: <input type="text" placeholder="Nombre completo" disabled value="@Model.JOSEADOR.UserCompleteName" /> Fecha: <input type="text" placeholder="Fecha" value="@DateTime.Now" disabled /></p>
                        <p>Firma del Programador: <input type="text" placeholder="Nombre completo" /> Fecha: <input type="text" placeholder="Fecha" value="@DateTime.Now" disabled /></p>
                    </div>

                    <BR />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <a href="@Url.Action("Index", "Invoice")" class="btn btn-outline-primary" id="btnAceptarProyecto">Aceptar el proyecto</a>
                                <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnAceptarProyecto").on("click", function (e) {
                e.preventDefault();
                var modelData = '@Json.Serialize(Model)';
                var encodedData = encodeURIComponent(modelData);

                // Verificar si el tamaño de la cookie es aceptable antes de establecerla
                if (encodedData.length < 4096) {
                    document.cookie = "modelData=" + encodedData + "; path=/";
                    window.location.href = $(this).attr("href");
                } else {
                    // Manejar el caso en que los datos superan el tamaño de la cookie
                    console.error("Los datos del modelo son demasiado grandes para almacenar en una cookie.");
                }
            });
        });
    </script>
}
</html>
