@model MainJoseoModel

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Factura</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Factura.</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Nota:</h5>
              Los rembolsos pueden darse hasta 7 días en ser aplicados, cualquier incongruencia de contrato será sometido a
              revisión de ambos y es probable de que uno de las dos partes involucradas pierda el 100% de todo su capital
              sí este es juzgado cómo incumplimiento grave.
            </div>


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> @Model.JOSEO.JoseoTitle
                    <small class="float-right">@DateTime.Now</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col">
                                        Empresa
                                        <address>
                                            <strong>Tú Joseo</strong><br>
                                            Email: info@tujoseo.com
                                        </address>
                                    </div>
                                    <!-- /.col -->

                <div class="col-sm-4 invoice-col">
                  <address>
                    <strong>@Model.JOSEADOR.UserCompleteName</strong><br>
                    @Model.JOSEADOR.UserRol<br>
                    República Dominicana, SD 94107<br>
                    Teléfono: @Model.JOSEADOR.UserPhone<br>
                    Email: @Model.JOSEADOR.UserEmail
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>No. Factura #003291</b><br>
                  <br>
                  <b>Orden: </b> 4F3S8J<br>
                  <b>Fecha de pago:</b> @DateTime.Now<br>
                  <b>Cuenta:</b> 5410 #### #### @Model.JOSEADOR.UserJoseosRealized@Model.JOSEADOR.UserJobQuality
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Cant.</th>
                      <th>Producto</th>
                      <th>Serial #</th>
                      <th>Descripción</th>
                      <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td>@(Model.JOSEO.JoseoTitle.Length > 15 ? Model.JOSEO.JoseoTitle.Substring(0, 15) + "..." : Model.JOSEO.JoseoDescription)</td>
                      <td>455-981-221</td>
                      <td>@(Model.JOSEO.JoseoDescription.Length > 50 ? Model.JOSEO.JoseoDescription.Substring(0, 50) + "..." : Model.JOSEO.JoseoDescription)</td>
                      <td>$@Model.JOSEO.JoseoPrice</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Métodos de pago:</p>
                  <img src="../../dist/img/credit/visa.png" alt="Visa">
                  <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                  <img src="../../dist/img/credit/american-express.png" alt="American Express">
                  <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Los rembolsos pueden darse hasta 7 días en ser aplicados, cualquier incongruencia de contrato será sometido a
              revisión de ambos y es probable de que uno de las dos partes involucradas pierda el 100% de todo su capital
              sí este es juzgado cómo incumplimiento grave.
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead">Cantidad total y costes del proyecto</p>

                  <div class="table-responsive">
                    <table class="table">
                      <tr>
                          <th style="width:50%">Subtotal:</th>
                          <td>$@Model.JOSEO.JoseoPrice</td>
                      </tr>
                      @{
                      double price = 0;
                      double taxOutput = 0;
                      if (double.TryParse(Model.JOSEO.JoseoPrice, out price))
                      {
                          double tax = price * 0.05;
                          <tr>
                              <th>Impuesto (5%)</th>
                              <td>$@tax</td>
                          </tr>
                      }
                      else
                      {
                          <tr>
                              <th>Impuesto (10%)</th>
                              <td>Précio inválido</td>
                          </tr>
                      }
                    }
                      <tr>
                        <th>Total:</th>
                        <td>$@(Convert.ToDouble(Model.JOSEO.JoseoPrice) + Convert.ToDouble(price * 0.05)) Dop.</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                    <a href="#" onclick="imprimirFactura();" class="btn btn-default"><i class="fas fa-print"></i> Imprimir factura</a>
                                        <button type="button" class="btn btn-success float-right" onclick="finalizarTodo()">
                                            <i class="far fa-credit-card"></i> Aceptar y finalizar todo
                                        </button>
                                    </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer no-print">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

<script>
    function imprimirFactura() {
        window.print();
    }

        function finalizarTodo() {
            // Establecer mensaje en TempData
            sessionStorage.setItem('SuccessMessage', 'Joseo conseguido');

            // Redirigir al controlador Home y acción Index
            window.location.href = '@Url.Action("Index", "Home")';
        }
</script>
</body>
</html>
