@model UserModel

@{
    ViewData["Title"] = "Inicie Sesión";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicie Sesión</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>
<body class="hold-transition login-page" sidebar-mini layout-fixed style='background-image: url(@Url.Content("~/dist/img/4140038.jpg")); background-size: cover; background-position: center;'>
    <!-- Preloader -->
    <div id="preloader" class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/adminlte/dist/img/JoseoIcon.png" alt="AdminLTELogo" height="60" width="60">
    </div>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <a class="h1">Iniciar <b>Sesión</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Ingrese sus credenciales.</p>
                 
                <form asp-action="Login" method="post">
                    <div class="input-group mb-3">
                        <input asp-for="UserEmail" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="UserPassword" type="password" class="form-control" placeholder="Contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="UserRememberMe" type="checkbox" id="remember">
                                <label for="remember">
                                    Recuerdame
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="social-auth-links text-center mt-2 mb-3">
                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-hand-pointer-o"></i> INGRESAR AHORA
                    </button>
                </div>
                </form>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="@Url.Action("RealForgotPassword", "Login")">Se me olvidó la contraseña</a>
                </p>
                <p class="mb-0">
                    <a href="@Url.Action("RegisterNewUser", "Login")" class="text-center">Soy nuevo, quiero ingresar</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    @if (TempData["Success"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'success',
                    title: 'Chevere',
                    text: '@TempData["Success"]',
                    confirmButtonText: 'OK'
                });
            });
        </script>
    }
    @if (TempData["Error"] != null)
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@TempData["Error"]',
                    confirmButtonText: 'OK'
                });
            });
        </script>
    }
    
    <script>
        // JavaScript para verificar el tamaño de la pantalla y mostrar/ocultar el preloader
        window.onload = function () {
            var preloader = document.getElementById('preloader');

            // Si el ancho de la pantalla es menor que 768px (puedes ajustar este valor según tus necesidades)
            if (window.innerWidth < 768) {
                preloader.style.display = 'none'; // Oculta el preloader en dispositivos móviles
            } else {
                preloader.style.display = 'block'; // Muestra el preloader en PC
            }
        };
    </script>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>
