@model UserModelReview

<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        *{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
    </style>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dar la review</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Bootstrap4 Toggle -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper text-center">
            <!-- Main content -->
            <section class="content">
                <div class="error-page">
                    <h2 class="headline text-danger">👍💬</h2>

                    <div class="error-content">
                        <h3> ¿Cómo calificas a @(Model.UserNameOther)?</h3>

                        <p>
                            ¿Cómo fue la experiencia de trabajar con este usuario?
                        </p>

                        <form class="search-form">
                        <br />
                            <div class="rate">
                              <input type="radio" id="star5" name="rate" value="5" />
                              <label for="star5" title="text">5 stars</label>
                              <input type="radio" id="star4" name="rate" value="4" />
                              <label for="star4" title="text">4 stars</label>
                              <input type="radio" id="star3" name="rate" value="3" />
                              <label for="star3" title="text">3 stars</label>
                              <input type="radio" id="star2" name="rate" value="2" />
                              <label for="star2" title="text">2 stars</label>
                              <input type="radio" checked id="star1" name="rate" value="1" />
                              <label for="star1" checked title="text">1 star</label>
                            </div>
                            
                            publicador por
                            <input name="ReviewCriticadorID" id="ReviewCriticadorID" type="checkbox" checked data-toggle="toggle" data-on="@Model.UserName" data-off="Anónimo" data-width="100">
                            <div class="input-group">
                                <textarea name="reviewdescription" id="reviewdescription" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Escriba su comentario aquí."></textarea>

                                <div class="input-group-append">
                                    <button type="submit" name="submit" class="btn btn-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                        </svg>
                                        <br />
                                        Enviar
                                    </button>
                                </div>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.error-page -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap4 Toggle -->
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <!-- Ajax -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
    $('.search-form').submit(function (event) {
        event.preventDefault(); // Previene el comportamiento por defecto del envío del formulario

        // Obtén los valores del formulario
        var formData = {
            ReviewStars: $('input[name="rate"]:checked').val(),
            ReviewDescription: $('#reviewdescription').val(),
            ReviewCriticadorID: $('#ReviewCriticadorID').prop('checked') ? '@Model.UserName' : 'Anónimo',
            ReviewProyectName: '@Model.ProyectName',
            ReviewPersonID: '@Model.UserIDOther',
            NotificationID: '@Model.NotificationID'
            // Asegúrate de obtener los demás valores necesarios
        };

        // Realiza la petición AJAX
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SendReview", "Review")',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                if (response.success) {
                    window.location.href = '@Url.Action("Index", "Home")'; // Redirige a la página de inicio si la revisión se envió correctamente
                } else {
                    // Vuelve a cargar la página con el mismo modelo
                    location.reload();
                }
            },
            error: function (error) {
                console.error(error);
            }
        });

    });

    $('#ReviewCriticadorID').change(function () {
        var isChecked = $(this).prop('checked');
        if (isChecked) {
            $(this).attr('data-on', '@Model.UserName');
        } else {
            $(this).attr('data-on', 'Anónimo');
        }
    });
});

    </script>
}



